<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yollweb.looport.dao.AcctUserMapper">

    <select id="queryAll" resultType="AcctUserEntity">
        select * from acct_user
    </select>

    <select id="login" resultType="AcctUserEntity" parameterType="java.lang.String">
        select * from acct_user where name=#{name} and password=#{password}
    </select>

</mapper>