<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yollweb.looport.dao.AcctUserMapper">

    <select id="queryAll" resultType="AcctUserEntity">
        select * from acct_user
    </select>

    <select id="login" resultType="AcctUserEntity" parameterType="java.lang.String">
        select * from acct_user where name=#{name} and password=#{password} and flag = '0'
    </select>
    
    <insert id="saveUser" keyProperty="id" parameterType="com.yollweb.looport.entity.AcctUserEntity">
        insert into acct_user
        (id,nike,name,password,roleid,createname,createuser,createtime,flag) values
        (#{model.id},#{model.nike},#{model.name},#{model.password},#{model.roleid},#{model.createname},
          #{model.createuser},#{model.createtime},#{model.flag})
    </insert>

    <select id="queryByname" resultType="AcctUserEntity" parameterType="java.lang.String">
        select * from acct_user where name=#{name}
    </select>

</mapper>